.base-button {
  cursor: pointer;
  background-color: var(--main-bg);
  color: var(--main-button);
  border: var(--main-border) var(--main-button);
  border-radius: var(--main-border-radius);
  padding: var(--main-padding);
  transition: var(--main-transition);
  font-size: var(--main-button-text);
}

.base-button:hover {
  background-color: var(--main-button);
  color: var(--main-bg);
  border: var(--main-border) var(--main-bg);
  border-radius: var(--main-border-radius);
  padding: var(--main-padding);
}
